#navbar{
    flex-direction: column;
    font-size: 13px ;
    position: sticky;
}
#navbar ul {
    display: flex;
    font-family: 'Pacifico', cursive;
    margin-left: 0px;
}
#navbar ul li a{
    font-size: 17px;
    padding: 0px 5px;
    padding-bottom: 8px;
    background-color: white;
    font-size: 17px;
}
form{
    margin-left: 0px;
    font-size: 20px;
    justify-content: center;
}
#social{
    flex-direction: row;
    height: 300px;
    width: 350px;
    margin-top: 50px;
    margin-left: 10px;
}
#social img{
    height: 45px;
    width: 45px;
}
#social a{
    margin-top: -200px;
    padding: 3px 3px;
}
#endsection{
    margin-top: 0px;
    margin-left: 30px;
    height: 350px;
    width: 350px;
    margin-top: -220px;
    font-size: 13px;
}