/* css reset */
*{
    margin: 0;
    padding: 0;
}
/* header class */
#header{
    display: flex;
    background-color: black;
    color: white;
    top: 0px;
    position: sticky;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}
#header::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 88%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}
/* navigation bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 17px;
    margin-top: -7px;
}
#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 88%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}
/* logo and logo image styling */
#logo {
    margin: 10px 10px;
}
#logo img {
    height: 60px;
    margin: 15px 15px;
    border-radius :5px; ;
}
#navbar ul {
    display: flex;
    font-family: 'Pacifico', cursive;
    margin-left: 850px;
    margin-right:0px ;
}
#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a {
    display: block;
    color: black;
    font-weight: bold;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover {
    color: white;
    background-color: black;
}
/* work section */
#work{
    display: flex;
    flex-direction: column;
    height: 635px;
    justify-content: center;
    align-items: center;
    padding: 3px 200px;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Poppins', sans-serif; */
}
#work::before{
    content: "";
    background: url('./MacFilms/mac_films_9-20221016-0012.jpg')no-repeat center center/cover;
    position: absolute;
    height: 92%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.90;
}
#work h1{
    color: black;
    text-align: center;
    margin-bottom: 180px;
}
#work h1 i p{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#first{
    height: 45%;
    width: 65%;
    margin-top: -450px;
    margin-left: -660px;
}
#first img{
    margin-top: 10px;
    border-radius: 10px;
    height: 500px;
    width: 700px;
}
#firstwriting{
    height: 45%;
    width: 35%;
    margin-top: -200px;
    margin-left: 790px;
    font-family: 'Lobster', cursive;
}
#second{
    height: 65%;
    width: 65%;
    margin-top: -560px;
    margin-left: 650px;
}
#second img{
    border-radius: 10px;
}
#secondwriting{
    font-weight: bolder;
    height: 45%;
    width: 35%;
    margin-top: -270px;
    margin-left: -790px;
    font-family: 'Cormorant Garamond', serif;
}
#third{
    margin-top: -40px;
}
#third img{
    border-radius: 10px;
}
#thirdwriting{
    height: 100px;
    width: 1000px;
    margin-left: -400px;
    font-family: 'Dancing Script', cursive;
}
#fourth{
    height: 80%;
    width: 80%;
    margin-top: 200px;
    margin-left: -550px;
}
#fourth video{
    height: 100%;
    width: 100%;
    border-radius: 22px;
    opacity: 0.9;
}
#fourthwriting{
    text-align: center;
    height: 600px;
    width:500px;
    margin-top: -350px ;
    margin-left: 950px; 
    font-family: 'Permanent Marker', cursive;
}
#fifth{
    height: 65%;
    width: 65%;
    margin-top: 150px;
    margin-left: 650px;
}
#fifth img{
    border-radius: 10px;
}
#fifthwriting{
    height: 500px;
    width: 400px;
    margin-left: -700px;
    margin-top: -300px;
    font-family: 'Alegreya', serif;
}
#social{
    display: flex;
    height: 150px;
    width: 700px;
    justify-content: center;
    align-items: center;
}
#social img{
    border-radius: 23px;
    height: 53px;
    margin: 10px;
}
#social a{
    text-decoration:underline;
    color: black;
}
#endsection{
    font-family: 'Space Mono', monospace;
    margin-left: 150px;
    width: 500px;
    height: 250px;
}
#endsection a{
    text-decoration:underline;
    color: black;
}
#endsection a:hover{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 23px;
    font-family: 'Permanent Marker', cursive;
}
#footer{
    display: flex;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
}
